<div class="container ">
  <form [formGroup]="regForm" (ngSubmit)="getData()">
    <div class="card-1 mt-3">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div style="margin-bottom: 20px;">
              <input type="text" formControlName="fname" id="first_name" placeholder="First Name">
              <span *ngIf="regForm.get('fname').touched&&regForm.get('fname').invalid" class="error">First name is
                required</span>
            </div>
          </div>
          <div class="col-6">
            <div style="margin-bottom: 20px;">
              <input type="text" formControlName="lname" id="last_name" placeholder="Last Name">
              <span *ngIf="regForm.get('lname').touched&&regForm.get('lname').invalid" class="error">Last name is
                required</span>
            </div>
          </div>
        </div>
        <div style="margin-bottom: 20px;">
          <textarea formControlName="address" placeholder="Leave a comment here" id="address"
            style="height: 51px"></textarea>
          <span *ngIf="regForm.get('address').touched&&regForm.get('address').invalid" class="errorTA">Address is
            required</span>

        </div>
        <div style="margin-bottom: 20px;">
          <input type="email" formControlName="email" id="floatingInput" placeholder="Email">
          <div *ngIf="regForm.get('email').touched&&regForm.get('email').invalid" class="error2">
            <span *ngIf="regForm.get('email').errors.required">Email is
              required</span>
            <span *ngIf="regForm.get('email').errors.email">Enter Valid
              email</span>
          </div>
        </div>
        <div style="margin-bottom: 20px;">
          <input type="password" formControlName="password" id="pass" placeholder="Password">
          <span *ngIf="regForm.get('password').touched&&regForm.get('password').invalid" class="error">Password is
            required</span>
        </div>
        <div style="margin-bottom: 20px;">
          <input type="password" formControlName="cnfpassword" id="conform_pass" placeholder="Confirm Password">
          <div *ngIf="regForm.get('cnfpassword').touched&&regForm.get('cnfpassword').invalid" class="error2">
            <span *ngIf="regForm.get('cnfpassword').errors.required">Password is
              required</span>
            <span *ngIf="regForm.get('cnfpassword').errors.confirmedValidator">Password doesn't match</span>
          </div>
        </div>
        <div style="margin-bottom: 20px;">
          <input type="text" formControlName="zip_code" id="zip_code" placeholder="Zip Code">
          <div *ngIf="regForm.get('zip_code').touched&&regForm.get('zip_code').invalid" class="error2">
            <span *ngIf="regForm.get('zip_code').errors.required">Zip code is
              required</span>
            <span *ngIf="regForm.get('zip_code').errors.pattern">Invalid Zipcode</span>
          </div>
        </div>
        <div style="margin-bottom: 20px;">
          <input type="text" formControlName="phone_num" id="phonenum" placeholder="phone number">
          <div *ngIf="regForm.get('phone_num').touched&&regForm.get('phone_num').invalid" class="error2">
            <span *ngIf="regForm.get('phone_num').errors.required">Phone number is
              required</span>
            <span *ngIf="regForm.get('phone_num').errors.pattern">Invalid phone number</span>
          </div>
        </div>
        <button type="submit" [disabled]="regForm.invalid" class="submit" value="Request an appointment">Register</button>

      </div>
    </div>
  </form>
</div>